/* FOR DESKTOPS: */

.top__search--destination__search-icon {
  display: none;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}
