/* FOR DESKTOPS */

.top__search--amount__wrapper {
  width: 25%;
}

.top__search--amount__filter {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  top: 70px;
  right: 16%;
  font-size: 16px;
  padding: 22px 19px;
  width: 259px;
}

.top__search--amount__filter--children {
  color: #333;
  font-size: 12px;
  padding-top: 28px;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px 16px;
}

.children__selector--title {
  padding: 28px 0 12px;
  font-size: 12px;
}

.children__selector {
  border: 1px solid var(--accent-blue);
  padding: 8px;
  font-size: 12px;
}

.children__selector--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
