/* FOR DESKTOPS */

.top__search--destination {
  outline: none;
  border-radius: 8px;
  width: 100%;
  padding: 17px 0 20px 24px;
}

@media (max-width: 768px) {
  /* FOR MOBILES */

  .top__search--destination {
    padding: 0 0 0 8px;
    font-weight: 500;
  }
}
