/* FOR DESKTOPS: */

.top__apps {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .top__apps {
    margin-top: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__apps {
    margin-top: 32px;
  }
}
