/* FOR DESKTOPS: */

.top__header--mode__icon {
  width: 30px;
  height: 30px;
  margin-left: 48px;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .top__header--mode__icon {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__header--mode__icon {
    width: 24px;
    height: 24px;
  }
}
