/* FOR DESKTOPS */

.top__header {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.top__header--logo {
  fill: var(--accent-blue);
  width: 205px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .top__header--logo {
    width: 122px;
    height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__header--logo {
    width: 188px;
    height: 63px;
  }
}
