/* FOR DESKTOPS*/

.top__search--amount__filter {
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  top: 70px;
  right: 0;
  font-size: 16px;
  padding: 22px;
  display: none;
  width: 259px;
}

.top__search--amount__filter--children {
  color: #333;
  font-size: 12px;
  padding-top: 28px;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px 16px;
}
