/* FOR DESKTOPS */

.top-section__calendar--wrapper {
  width: 21%;
}

.top-section__calendar {
  width: 100%;
  outline: none;
  cursor: pointer;
}

.react-datepicker__month-container {
  font-size: 14px;
  gap: 22px;
}

.react-datepicker__month-container:last-child {
  font-size: 14px;
}

.react-datepicker__header {
  background: var(--general-white);
  border: none;
  padding: 0;
}

.react-datepicker__current-month {
  font-weight: 500;
  font-size: 18px;
  padding: 12px 0;
}

.react-datepicker__day-name {
  color: #4d4d4d;
  font-weight: 300;
}

.react-datepicker__month {
  margin: 0 22px 18px;
}

.react-datepicker__day-names {
  margin: 0;
}
