/* FOR DESKTOPS */

.top__search--destination__mobile {
  display: none;
}

@media (max-width: 768px) {
  /* FOR MOBILES */

  .top__search--destination__mobile {
    display: flex;
    padding: 0 0 0 8px;
    font-weight: 500;
    outline: none;
    width: 100%;
  }
}
