/* FOR DESKTOPS */

.top__search--date__label {
  color: var(--general-white);
  padding-left: 24px;
  position: absolute;
  top: -46px;
  left: 36%;
}

@media (max-width: 768px) {
  /* FOR MOBILES */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS */
}
