/* FOR DESKTOPS: */

.section {
  padding: 120px 0;
}

.section.bgColor {
  background-color: var(--bg-color);
}

.section.generalBlue {
  background-color: var(--general-blue);
}

.section.top {
  background-image: url('../../assets/images/top-section.png');
  background-position: top;
  padding: 51px 0 120px;
  background-repeat: no-repeat;
}

.title {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  cursor: default;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .section {
    padding: 40px 16px 56px;
  }

  .title {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .section {
    padding: 60px 0;
  }
}
