/* FOR DESKTOPS */

.top__search--destination__wrapper {
  width: 38%;
}

.top__search--destination {
  padding: 21px 0 21px 24px;
  outline: none;
  border-radius: 8px;
  width: 100%;
}

.top__search--destination__search-icon {
  display: none;
}

.top__search--destination__label {
  color: var(--general-white);
  padding: 0 24px;
  position: absolute;
  top: -48px;
}

@media (max-width: 768px) {
  /* FOR MOBILES */

  .top__search--destination__wrapper {
    background-color: var(--general-white);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 15px 0 15px;
  }

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}
