/* FOR DESKTOPS: */

.top__header--account__icon {
  width: 40px;
  height: 40px;
  margin-left: 24px;
  cursor: pointer;
}

.top__apps--app-store {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.top__apps--google-play {
  width: 135px;
  height: 40px;
  margin-right: 17px;
  cursor: pointer;
}

.top__header--logo {
  fill: var(--accent-blue);
  width: 205px;
  height: 40px;
  cursor: pointer;
}

.top__header--menu__icon {
  display: none;
}

.top__header--mode__icon {
  width: 30px;
  height: 30px;
  margin-left: 48px;
  cursor: pointer;
}

.top__search--destination__search-icon {
  display: none;
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .top__header--account__icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .top__header--logo {
    width: 122px;
    height: 24px;
  }

  .top__header--menu__icon {
    display: flex;
    width: 24px;
    height: 16px;
    margin-left: 16px;
    cursor: pointer;
  }

  .top__header--mode__icon {
    width: 16px;
    height: 16px;
  }

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* FOR TABLETS: */

  .top__header--account__icon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }

  .top__header--logo {
    width: 188px;
    height: 63px;
  }

  .top__header--menu__icon {
    display: flex;
    width: 32px;
    height: 24px;
    margin-left: 16px;
  }

  .top__header--mode__icon {
    width: 24px;
    height: 24px;
  }

  .top__search--destination__search-icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }
}
