@import url('fonts.css');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.17em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  min-width: 320px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

ul {
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='radio'] {
  display: none;
}

input + label {
  display: inline-block;
}

a {
  text-decoration: none;
}

:root {
  --col-lg: 7.14%;
  --col-sm: 16.67%;
  --general-blue: #10367c;
  --accent-blue: #3077c6;
  --accent-yellow: #f5bd41;
  --stroke-color: #f3f3f4;
  --text-color: #383838;
  --general-white: #fff;
  --secondary-text: #bfbfbf;
  --bg-color: #eaf0f9;
}

/* FOR DESKTOPS: */

.col-lg-1 {
  width: var(--col-lg);
}

.col-lg-2 {
  width: calc(var(--col-lg) * 2);
}

.col-lg-3 {
  width: calc(var(--col-lg) * 3);
}

.col-lg-4 {
  width: calc(var(--col-lg) * 4);
}

.col-lg-5 {
  width: calc(var(--col-lg) * 5);
}

.col-lg-6 {
  width: calc(var(--col-lg) * 6);
}

.col-lg-7 {
  width: calc(var(--col-lg) * 7);
}

.col-lg-8 {
  width: calc(var(--col-lg) * 8);
}

.col-lg-9 {
  width: calc(var(--col-lg) * 9);
}

.col-lg-10 {
  width: calc(var(--col-lg) * 10);
}

.col-lg-11 {
  width: calc(var(--col-lg) * 11);
}

.col-lg-12 {
  width: calc(var(--col-lg) * 12);
}

.col-lg-13 {
  width: calc(var(--col-lg) * 13);
}

.col-lg-14 {
  width: calc(var(--col-lg) * 14);
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .col-sm-1 {
    width: var(--col-sm);
  }

  .col-sm-2 {
    width: calc(var(--col-sm) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-sm) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-sm) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-sm) * 5);
  }

  .col-sm-6 {
    width: calc(var(--col-sm) * 6);
  }
}


