.top__search--amount__filter--options__wrapper {
  display: flex;
  align-items: center;
  width: 215px;
  justify-content: space-between;
}

.top__search--amount__filter--options__wrapper:nth-child(2) {
  margin: 12px 0;
}

.top__search--amount__filter--button__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 108px;
  justify-content: space-between;
}
