/* FOR DESKTOPS: */

.custom-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--stroke-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.custom-arrow.left {
  left: 0;
  transform: rotate(180deg);
}

.custom-arrow.right {
  right: 0;
}

.arrow {
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  border-radius: 2px;
  padding: 5px;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 17px / 2);
}

@media (max-width: 768px) {
  /* FOR MOBILES: */

  .custom-arrow {
    width: 28px;
    height: 28px;
    right: 0;
    top: 22%;
  }

  .arrow {
    height: 13px;
    width: 5px;
  }
}
